parameters:
    level: max
    treatPhpDocTypesAsCertain: false
    paths:
        - src
    tmpDir: ../../var/phpstan/framework
    ignoreErrors:
        -
            identifier: trait.unused
            path: src/Http/ValidatesRequests.php
        -
            identifier: trait.unused
            path: src/Testing/InteractsWithApplication.php
